@model WebLandingTemplate.Models.FrontVIewModels.ContactPageVM
@{
    ViewBag.Title = "About";
}
<div class="page-titles-img title-space-lg bg-parallax mb80 parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg3.jpg");background-position:top center;'>
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <h1 class="text-uppercase">Nuestra Oficina</h1>

            </div>
        </div>
    </div>
</div><!--page title end-->

<div class="container">
    <div class="row pb50 align-item-center">
        <div class="col-sm-6 mb40">
            <h2>A place where born amazing ideas</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat urna arcu, vel molestie nunc commodo non. Nullam vestibulum odio vitae fermentum rutrum.
            </p>
            <p>
                Mauris lobortis nulla ut aliquet interdum. Donec commodo ac elit sed placerat. Mauris rhoncus est ac sodales gravida. In eros felis, elementum aliquam nisi vel, pellentesque faucibus nulla.
            </p>
            <a href="#" class="btn btn-primary">Hire us</a>
        </div>
        <div class="col-sm-6 mb40">
            <div class="carousel-image owl-carousel owl-theme carousel-dark">
                <div class="item">
                    <img src="~/Html/images/contained1.jpg" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="~/Html/images/contained2.jpg" alt="" class="img-fluid">
                </div>
            </div> <!-- /Carousel -->
        </div>
    </div>
    <div class="row pb50">
        <div class="col-md-4 mb30">
            <h4 class="text-uppercase">
                Nuestra Misión
            </h4>
            <p>
                @Html.DisplayFor(model => model.corpinfoVM.Mision)

            </p>
        </div>
        <div class="col-md-4 mb30">
            <h4 class="text-uppercase">
                Nuestra Visión

            </h4>
            <p>
                @Html.DisplayFor(model => model.corpinfoVM.Vision)
            </p>
        </div>
        <div class="col-md-4 mb30">
            <h4 class="text-uppercase">
                Por qué elegirnos
            </h4>
            <p>
                @Html.DisplayFor(model => model.corpinfoVM.PromotionalText2)
            </p>
        </div>
    </div>
</div>
<div class="bg-faded pt90 pb50">
    <div class="container">
        <div class="row">

            <div class="col-md-3 mb20">
                <h4 class="text-uppercase mb30">
                    Contact Info
                </h4>
                <div class="media mb20">
                    <i class="d-flex mt5 fa fa-home icon-sm-rounded mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb0 text-uppercase">Address</h5>
                        124, Munna Wali, Jhotwara, Jaipur, 302012
                    </div>
                </div>
                <div class="media mb20">
                    <i class="d-flex mt5 fa fa-phone icon-sm-rounded mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb0 text-uppercase">Phone</h5>
                        120 493-593-4939
                    </div>
                </div>
                <div class="media mb20">
                    <i class="d-flex mt5 fa fa-envelope icon-sm-rounded mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb0 text-uppercase">Email</h5>
                        support@assan.com
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb40">
                <h4 class="text-uppercase mb30">
                    our Location
                </h4>
                <div id="markermap" style="width: 100%;height: 300px;"></div>
            </div>
            <div class="col-md-3 mb20">
                <h4 class="text-uppercase mb30">
                    Working hours
                </h4>
                <div class="media mb20">
                    <i class="d-flex mt5 fa fa-clock-o mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb0 text-uppercase">Monday - Friday</h5>
                        10am - 7am
                    </div>
                </div>
                <div class="media mb20">
                    <i class="d-flex mt5 fa fa-clock-o mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb0 text-uppercase">Saturday</h5>
                        Off
                    </div>
                </div>
                <div class="media mb20">
                    <i class="d-flex mt5 fa fa-clock-o mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb0 text-uppercase">Sunday</h5>
                        Off
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--google map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMwVpUj3-oHHW8N21819BhKttOga2Rj2s"></script>
<script src="~/Html/js/jquery.gmap.min.js"></script>
<script>
    // Marker Map
    $(document).ready(function () {
        map = new GMaps({
            scrollwheel: false,
            el: '#markermap',
            lat: 26.981942,
            lng: 75.684486

        });
        map.addMarker({
            lat: 26.981942,
            lng: 75.684486,
            title: 'Marker with InfoWindow',
            infoWindow: {
                content: '<h4>GUNJAN SOFTWARE</h4><p>A Small Web design Studio</p>'
            }
        });
    });
</script>

