
<div class="bg-white">
    <div class="container pt50 pb30">
        <!-- Carousel -->
        <div class="carousel-client owl-carousel owl-theme">
            <div class="item text-center">

                <img src="/Html/images/cl-1.png" alt="" class="img-fluid">
            </div>
            <div class="item text-center">

                <img src="/Html/images/cl-2.png" alt="">
            </div>
            <div class="item text-center">

                <img src="/Html/images/cl-3.png" alt="">
            </div>
            <div class="item text-center">

                <img src="/Html/images/cl-4.png" alt="">
            </div>
            <div class="item text-center">

                <img src="/Html/images/cl-5.png" alt="">
            </div>
            <div class="item text-center">

                <img src="/Html/images/cl-1.png" alt="">
            </div>
            <div class="item text-center">

                <img src="/Html/images/cl-2.png" alt="">
            </div>
            <div class="item text-center">

                <img src="/Html/images/cl-3.png" alt="">
            </div>
        </div> <!-- /Carousel -->
    </div><!--/.clients-->
</div>
