<div class="container pt90">
    <div class="title-heading1 mb40">
        <h3>Our Latest work</h3>
    </div>
</div>
<!--            <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".print" class="cbp-filter-item">
                    Print <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".web-design" class="cbp-filter-item">
                    Web Design <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".graphic" class="cbp-filter-item">
                    Graphic <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".motion" class="cbp-filter-item">
                    Motion <div class="cbp-filter-counter"></div>
                </div>
            </div>-->

<div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
    <div class="cbp-item web-design graphic">
        <a href="images/masonry/sm1.jpg" class="cbp-caption cbp-lightbox" data-title="Bolt UI<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="/Html/images/masonry/sm1.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Project title</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item print motion">
        <a href="images/masonry/sm2.jpg" class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
                <img src="/Html/images/masonry/sm2.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">World Clock</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item print motion">
        <a href="images/masonry/lgv1.jpg" class="cbp-caption cbp-lightbox" data-title="WhereTO App<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="/Html/images/masonry/lgv1.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">WhereTO App</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item motion graphic">
        <a href="images/masonry/lgh1.jpg" class="cbp-caption cbp-lightbox" data-title="Seemple* Music<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="/Html/images/masonry/lgh1.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Seemple* Music</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item web-design print">
        <a href="images/masonry/sm3.jpg" class="cbp-caption cbp-lightbox" data-title="iDevices<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="/Html/images/masonry/sm3.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">iDevices</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item print motion">
        <a href="images/masonry/sm4.jpg" class="cbp-caption cbp-lightbox" data-title="Remind~Me Widget<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="/Html/images/masonry/sm4.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Remind~Me Widget</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
