<div class="container pt90">
    <div class="title-heading1 mb40">
        <h3>Algunos de nuestros servicios</h3>
    </div>
</div>
<!--            <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".print" class="cbp-filter-item">
                    Print <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".web-design" class="cbp-filter-item">
                    Web Design <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".graphic" class="cbp-filter-item">
                    Graphic <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".motion" class="cbp-filter-item">
                    Motion <div class="cbp-filter-counter"></div>
                </div>
            </div>-->

<div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
    <div class="cbp-item web-design graphic">
        <a href="~/RecursosOficiales/Basculas/Calibración Bascula Laboratorio.JPG" class="cbp-caption cbp-lightbox" data-title="Calibración Bascula Laboratorio<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap" width="380" height="380">
                <img src="\RecursosOficiales\Basculas\Calibración Bascula Laboratorio.JPG" alt="" width="380" height="380">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Project title</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item print motion">
        <a href="~/RecursosOficiales/Camaras de Refrigeración/Camaras de refrigeración 1.jpg" class="cbp-caption cbp-lightbox" data-title="Camara de refrigeración<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap" width="380" height="380">
                <img src="\RecursosOficiales\Camaras de Refrigeración\Camaras de refrigeración 1.jpg" alt="" width="380" height="380">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">World Clock</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item print motion">
        <a href="~/RecursosOficiales/Mantenimiento de Planta/Armado de tuberias.JPG" class="cbp-caption cbp-lightbox" data-title="WhereTO App<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="/RecursosOficiales/Mantenimiento de Planta/Armado de tuberias.JPG" alt="" width="380" height="760">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">WhereTO App</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item motion graphic">
        <a href="~/RecursosOficiales/Mantenimiento Equipo laboratorio/Reparación Equipo metrología (Rugosimetro).JPG" class="cbp-caption cbp-lightbox" data-title="Seemple* Music<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="/RecursosOficiales/Mantenimiento Equipo laboratorio/Reparación Equipo metrología (Rugosimetro).JPG" alt="" width="380" height="760">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Seemple* Music</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item web-design print">
        <a href="~/RecursosOficiales/Mantenimiento Maquinaria/Mantenimiento a Maquinaria.jpg" class="cbp-caption cbp-lightbox" data-title="iDevices<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="~/RecursosOficiales/Mantenimiento Maquinaria/Mantenimiento a Maquinaria.jpg" alt="" width="380" height="380">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">iDevices</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item print motion">
        <a href="~/RecursosOficiales/Mantenimiento de Planta/IMG_4452.JPG" class="cbp-caption cbp-lightbox" data-title="Remind~Me Widget<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="/RecursosOficiales/Mantenimiento de Planta/IMG_4452.JPG" alt="" width="380" height="380">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Remind~Me Widget</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
