@model WebLandingTemplate.Models.EnterpriseInfoVM
<div class="bg-primary pt90 pb90">
    <div class="container">
        <!-- Carousel -->
        <div class="">

            <div class="item">
                <div class=" testimonial testimonial-dark">
                    <div class="row align-items-center">
                        <h2 class="mb20 text-white">Nuestro Trabajo, Una solución a cada necesidad</h2>
                        <br />
                        <p>
                            @Html.DisplayFor(model => model.PromotionalText2)
                        </p>
                    </div>
                </div>
            </div><!--item-->
        </div> <!-- /Carousel -->
    </div>
</div>




