<div class="bg-primary pt90 pb90">
    <div class="container">
        <!-- Carousel -->
        <div class="carousel-testimonial owl-carousel owl-theme carousel-dark">

            <div class="item">
                <div class=" testimonial testimonial-dark">
                    <div class="row align-items-center">
                        <div class="col-lg-3 ml-md-5">
                            <img src="/Html/images/customer-1.jpg" alt="" class="img-fluid circle">
                        </div>
                        <div class="col-lg-7">
                            <p class="lead">
                                " This is a great theme! I love it and recommend it to anyone wanting to purchase it. "
                            </p>
                            <h5>John Doe - <span>Assan Customer</span></h5>
                        </div>
                    </div>
                </div>
            </div><!--item-->
            <div class="item">
                <div class=" testimonial testimonial-dark">
                    <div class="row align-items-center">
                        <div class="col-lg-3 ml-md-5">
                            <img src="/Html/images/customer-2.jpg" alt="" class="img-fluid circle">
                        </div>
                        <div class="col-lg-7">
                            <p class="lead">
                                " Compared to others this was a very easy to use and adapt template. It didn't break as easy with minor changes. Thanks "
                            </p>
                            <h5>John Doe - <span>Assan Customer</span></h5>
                        </div>
                    </div>
                </div>
            </div><!--item-->
            <div class="item">
                <div class=" testimonial testimonial-dark">
                    <div class="row align-items-center">
                        <div class="col-lg-3 ml-md-5">
                            <img src="/Html/images/customer-3.jpg" alt="" class="img-fluid circle">
                        </div>
                        <div class="col-lg-7">
                            <p class="lead">
                                " Hello,
                                your theme gets better and better on every version. Gratulation to this wonderful theme and please keep on working this way (good once)!! "
                            </p>
                            <h5>John Doe - <span>Assan Customer</span></h5>
                        </div>
                    </div>
                </div>
            </div><!--item-->
        </div> <!-- /Carousel -->
    </div>
</div>
