<div class=" pt90 pb60">
    <div class="container">
        <div class="title-heading1 mb40">
            <h3>Trabajos recientes</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="#" class="entry-thumb">
                        <img src="~/RecursosOficiales/Mantenimiento Maquinaria/Mantenimiento a Maquinaria.jpg" alt="" class="img-fluid">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5">
                            <span>
                                Junio 15 2020
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize">
                            <a href="#">
                               Mantenimineto a Maquinaria
                            </a>
                        </h4>
                       
                        <div class="text-right">
                            <a href="#" class="btn-link btn">Saber Más</a>
                        </div>
                    </div><!--/entry content-->
                </div>
            </div><!--/.col-->
            <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".3s">
                <div class="entry-card">
                    <a href="#" class="entry-thumb">
                        <img src="~/RecursosOficiales/Mantenimiento Maquinaria/Mantenimiento Maquinaria.jpg" alt="" class="img-fluid" > 
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5">
                            <span>
                                Mayo 12 2020
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize">
                            <a href="#">
                               Reparacion y Mantenimineto Maquinaria Industrial
                            </a>
                        </h4>
                        
                        <div class="text-right">
                            <a href="#" class="btn-link btn">Saber Más</a>
                        </div>
                    </div><!--/entry content-->
                </div>
            </div><!--/.col-->

            <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".4s">
                <div class="entry-card">
                    <a href="#" class="entry-thumb">
                        <img src="~/RecursosOficiales/Camaras de Refrigeración/Camaras de refrigeración 4.jpg" alt="" class="img-fluid">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5">
                            <span>
                                Abril 20 2020
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize">
                            <a href="#">
                                Mantenimiento De Equipo de Refrigeracion 
                            </a>
                        </h4>
                        @*<p>
                            Our clients range from FTSE 300  to large charitable  and some small local businesses who are striving to expand.
                        </p>*@
                        <div class="text-right">
                            <a href="#" class="btn-link btn">Read More</a>
                        </div>
                    </div><!--/entry content-->
                </div>
            </div><!--/.col-->
        </div>
    </div>
</div>
