@if (ViewBag.Result == true)
{
    <div class="alert notification alert-success">Mensajen Enviado Correctamente!</div>
}
else
{
    <div class="alert notification alert-error">Mensaje no enviado - Ocurrio un Error Intenta de nuevo o llama con gusto te Atenderemos</div>

}

