@if (ViewBag.Result == true)
{
    <div class="alert notification alert-success">Message has been sent successfully!</div>
}
else
{
    <div class="alert notification alert-error">Message not sent - server error occured!</div>

}

