<div class="sidenav darkNav">
    <a href="index.html" class="app-logo d-flex flex flex-row align-items-center overflow-hidden justify-content-center">
        <i class="icon-Paper-Plane inline-icon rounded avatar32 d-inline-flex align-items-center justify-content-center"></i>
        <span class="logo-text d-inline-flex"> <span class='font700 d-inline-block mr-1'>ASSAN</span> UI</span>
    </a>
    <div class="flex">
        <div class="aside-content">
            <ul class="metisMenu" id="metisMenu">
                <li class="nav-title">Main<span class="nav-thumbnail">MN</span></li>
                <li class="active">
                    <i class="icon-Gaugage nav-thumbnail"></i>
                    <a class="has-arrow" href="/Supplier/Index">
                        <span class="nav-text">
                            Proveedores
                        </span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <span class="nav-thumbnail">01</span>
                            <a href="/Supplier/Index">Consultar</a>
                        </li>
                        <li class="active">
                            <span class="nav-thumbnail">02</span>
                            <a href="index-02.html">Dashboard 2</a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </li><!--Menu-item-->
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
                <li>
                    <i class="icon-Magic-Wand nav-thumbnail"></i>
                    <a href="widgets.html">
                        <span class="nav-text">
                            Widgets
                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                    </a>
                </li>
            </ul>
        </div><!-- aside content end-->
    </div><!-- aside hidden scroll end-->
    <div class="aside-footer p-3 pl-25">
        <div class="">
            App Version - 1.0
        </div>
    </div><!-- aside footer end-->
</div><!-- sidenav end-->
