<div class="sidenav darkNav">
    <a href="~/Html/index.html" class="app-logo d-flex flex flex-row align-items-center overflow-hidden justify-content-center">
        <i class="icon-Paper-Plane inline-icon rounded avatar32 d-inline-flex align-items-center justify-content-center"></i>
        <span class="logo-text d-inline-flex"> <span class='font700 d-inline-block mr-1'>ASSAN</span> UI</span>
    </a>
    <div class="flex">
        <div class="aside-content">
            <ul class="metisMenu" id="metisMenu">
                <li class="nav-title">Main<span class="nav-thumbnail">Menu</span></li><!--Menu-item/Separator-->
                <li>
                    <i class="icon-Home nav-thumbnail"></i>
                    <a class="has-arrow" href="javascript:void(0)">
                        <span class="nav-text">
                            Home Items
                        </span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <span class="nav-thumbnail">01</span>
                            <a href="/FrontDashboard/Index">Consultar</a>
                        </li>
                    </ul>
                </li><!--Menu-item-->
                <li>
                    <i class="icon-Information nav-thumbnail"></i>
                    <a class="has-arrow" href="javascript:void(0)">
                        <span class="nav-text">
                            Info Empresa
                        </span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <span class="nav-thumbnail">01</span>
                            <a href="/EnterpriseInfo/Index">Consultar</a>
                        </li>
                    </ul>
                </li><!--Menu-item-->
                <li>
                    <i class="icon-Scale nav-thumbnail"></i>
                    <a class="has-arrow" href="javascript:void(0)">
                        <span class="nav-text">
                            Productos
                        </span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <span class="nav-thumbnail">01</span>
                            <a href="/Product/Index">Consultar</a>
                        </li>
                    </ul>
                </li><!--Menu-item-->
                <li>
                    <i class="icon-Wrench nav-thumbnail"></i>
                    <a class="has-arrow" href="javascript:void(0)">
                        <span class="nav-text">
                            Servicios
                        </span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <span class="nav-thumbnail">01</span>
                            <a href="/ServiceCorp/Index">Consultar</a>
                        </li>
                    </ul>
                </li><!--Menu-item-->
                <li>
                    <i class="icon-tablet nav-thumbnail"></i>
                    <a class="has-arrow" href="javascript:void(0)">
                        <span class="nav-text">
                            Proveedores
                        </span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <span class="nav-thumbnail">01</span>
                            <a href="/Supplier/Index">Consultar</a>
                        </li>
                    </ul>
                </li><!--Menu-item-->
                <li>
                    <i class="icon-Books nav-thumbnail"></i>
                    <a class="has-arrow" href="javascript:void(0)">
                        <span class="nav-text">
                            Categorias
                        </span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <span class="nav-thumbnail">01</span>
                            <a href="/Category/Index">Consultar</a>
                        </li>

                    </ul>
                </li><!--Menu-item-->
                <li class="nav-title">Contacto<span class="nav-thumbnail">Mail</span></li><!--Menu item/Separator-->
                <li>
                    <i class="icon-Envelope nav-thumbnail"></i>
                    <a class="has-arrow" href="javascript:void(0)">
                        <span class="nav-text">
                            Mensajes
                        </span><span class="badge text-danger-light badge-danger ml-1 badge-text anibadge">News</span>
                    </a>
                    <ul aria-expanded="false">
                        <li class="active">
                            <span class="nav-thumbnail"><i class="fa fa-inbox"></i></span>
                            <a href="@Url.Action("index","ContactMessage")">Inbox</a>
                        </li>

                    </ul>
                </li><!--Menu-item-->


            </ul>
        </div><!-- aside content end-->
    </div><!-- aside hidden scroll end-->
    <div class="aside-footer p-3 pl-25">
        <div class="">
            App Version - 1.2
        </div>
    </div><!-- aside footer end-->
</div><!-- sidenav end-->
